name: DemoTest Build and Deploy

on:
  push:
    branches: [ 'main' ]

env:
  QUICKCODE_SESSION_ID: ${{ secrets.QUICKCODE_SESSION_ID }}
  BUILD_AND_PUSH_CONTAINER_SECRET: ${{ secrets.BUILD_AND_PUSH_CONTAINER_GATEWAY }}

jobs:         
  event-listener-service:
    name: Kafka Event Listener Api
    uses: ./.github/workflows/google-cloudrun-event-listener-service.yml
    secrets: inherit

  gateway:
    name: Gateway Api
    uses: ./.github/workflows/google-cloudrun-gateway.yml
    secrets: inherit
  
  portal:
    name: Admin Portal
    uses: ./.github/workflows/google-cloudrun-portal.yml
    secrets: inherit

  identity-module:
    name: Identity Module Api
    uses: ./.github/workflows/google-cloudrun-identity-module.yml
    secrets: inherit

  inventory-module:
    name: Inventory Module Api
    uses: ./.github/workflows/google-cloudrun-inventory-module.yml
    secrets: inherit

  order-module:
    name: Order Module Api
    uses: ./.github/workflows/google-cloudrun-order-module.yml
    secrets: inherit

  product-catalog-module:
    name: Product Catalog Module Api
    uses: ./.github/workflows/google-cloudrun-product-catalog-module.yml
    secrets: inherit

  shipping-module:
    name: Shipping Module Api
    uses: ./.github/workflows/google-cloudrun-shipping-module.yml
    secrets: inherit


  complete:
    name: Complete Deployments
    runs-on: ubuntu-latest
    needs:
      - event-listener-service
      - gateway
      - portal
      - identity-module
      - inventory-module
      - order-module
      - product-catalog-module
      - shipping-module
    if: always()
    steps:
      - name: Complete Notification
        uses: nick-fields/retry@v2
        with:
          command: curl "https://api.quickcode.net/api/GenerateSite/CompleteGeneration?actionId=${{ env.BUILD_AND_PUSH_CONTAINER_SECRET }}&sessionId=${{ env.QUICKCODE_SESSION_ID }}&message=${{ job.status }}"
          max_attempts: 3
          timeout_minutes: 2
